body {
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-ellipse {
    background-color: rgb(255, 244, 244);
    border-radius: 50%;
    width: 1000px;
    height: 1100px;
    z-index: -1;
    position: absolute;
    top: -80px;
    left: 30px;
}

h1 {
    text-align: center;
    font-family: "Amaranth", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}

.initials {
    text-align: center;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    padding-bottom: 10px;
}

.subheading {
    text-align: center;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

img {
    
   
    height: 400px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}


h2 {
    color: rgb(48, 179, 157);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;


}

.card-1, .card-2, .card-3, .card-4, .card-5, .card-6 {
    background-color: rgb(246, 255, 254);
    border: 5px solid rgb(62, 165, 151);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 25px; 
    padding-bottom: 20px;
    width: 320px;    
    align-items: center;
    justify-content: center;
    min-height: 700px;
    cursor: pointer;
    transition: transform 0.2s;
    
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover, .card-6:hover {
    background-color: white;
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 0px 0px 10px rgb(0, 92, 92);

}
.last-trip {
    color: rgb(36, 36, 36);
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    text-align: justify;
    padding-right: 80px;
    padding-left: 80px;
}

.second-day, .first-day, .my-arrival, .museum, .grave-1, .third-day{
    color: rgb(53, 53, 53);
    
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
   
    text-align: justify;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 20px;
    
   
}

h3 {
    font-size: 24px;
    font-family: "Amaranth", sans-serif;
    text-align: center;
    color: rgb(37, 146, 132);
    padding-top: 10px;
   

    

}
    
div {
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    justify-content:center;
    align-items: center;
    

}

button {
    padding: 12px;
    width: 100%;
    background-color: rgb(41, 226, 217);
    color: white;
    border-radius: 30px;
    border-color:rgb(0, 87, 87);
    border-width: 2px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    transition: transform 0.2s;

}

button:hover{
    background-color: white;
    border-color:teal;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px rgb(0, 70, 70);
}


.cards-container {
    
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
   

}
   

